* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
    background-color: #080808;
   }
.elemente-section{
    background-image: url("img/banner.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    height: 50rem;
}
.whatsapp{
    width: 30px;
    margin-right: 10px;
}
.elemente-contato{
    justify-content: center;
}
.elemente-pergunta{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: serif;
}
.elemente-infomacao{
    font-size: 20px;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: serif;
}
.elemente-ancora{
    background-color: rgb(29, 184, 50);
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
}
.elemente-ancora:hover{
    background-color: rgb(26, 133, 40);
}

.elemente-main {
    padding: 20px;
    background-color: #0a0a0a; 
    font-family: serif;
    border-radius: 10px
    
}


h4 {
    font-size: 50px; 
    color: #ffffff;
    margin-bottom: 20px; 
    text-align: center; 
}
h1{
    font-family: serif;
    font-size: 50px;
    color: white;
    padding-top: 20%; 
}
.elemente-main{
    margin: 80px;
}

.elemente-conteudo {
    display: flex; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-content: center; 
    padding: 80px;
}


.elemente-cards {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    width: 280px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}
.elemente-cards:hover{
    background-color: rgb(197, 196, 196);
}

.elemente-titulo {
    font-family: serif;
    font-size: 30px; 
    color: rgb(105, 0, 0); 
    margin-bottom: 10px; 
}


.elemente-paragrafo {
    font-size: 20px; 
    color: #000000; 
    line-height: 1.4; 
}
footer{
    background-color: rgb(105, 0, 0);
    text-align: center;
    padding: 80px;
}
.elemente-rodape{
    display: grid;  
}
.elemente-rodape,a{
    text-decoration: none;  
}
.elemente-rodape .instagram, .maps{
    width: 60px;
    padding: 10px;
}
.elemente-rodape, a{
    font-size: 50px;
    color: white;

}
.sobre .cor{
    color: white;
    font-size: 58px;
    padding-top: 30px;
}


